<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div>

        <div>
            {% for comment in comments %}
                <h5>{{comment.text}}</h5>
                <p>{{comment.created_date}}</p>
            {% endfor %}

            {% with message = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages  %}
                            <li>
                                {{message}}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <div>
                <a href="{{ url_for('python_contact_routes.logout') }}">Log out</a>
                <a href="{{ url_for('python_comment_routes.home') }}">Create comment</a>
            </div>
        </div>

  </div>

</body>
</html>