<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action = "/new" method = "POST">
      <input type="text" name="fullname" placeholder="fullname">
      <input type="text" name="email" placeholder="email">
      <input type="text" name="phone" placeholder="phone">

      <button>
          save
      </button>
  </form>

  <div>
      {% for contact in contacts %}
        <div>
            <h5>{{contact.fullname}}</h5>
            <p>{{contact.email}}</p>
            <p>{{contact.phone}}</p>

            <div>
                <a href="{{ url_for('python_contact_routes.update_contact' , id =contact.id) }}">Update</a>
                <a href="{{ url_for('python_contact_routes.delete_contact', id =contact.id) }}">Delete</a>
            </div>
        </div>
      {% endfor %}
  </div>

</body>
</html>