<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action = "/update/{{contact.fullname}}" method = "POST">
      <input type="text" name="fullname" placeholder="fullname" value="{{contact.fullname}}">
      <input type="text" name="email" placeholder="email", value="{{contact.email}}">
      <input type="text" name="phone" placeholder="phone", value="{{contact.phone}}">

      <button>
          save
      </button>
  </form>
</body>