# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Phyton\Flask_SQLAlchemy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
