<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div>

        <div>
            <h5>{{contacts.username}}</h5>
            <p>{{contacts.email}}</p>

            {% with message = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages  %}
                            <li>
                                {{message}}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <div>
                <a href="{{ url_for('python_contact_routes.update_contact' , id =contacts.id) }}">Update</a>
                <a href="{{ url_for('python_contact_routes.delete_contact', id =contacts.id) }}">Delete</a>
                <a href="{{ url_for('python_contact_routes.logout') }}">Log out</a>
                <a href="{{ url_for('python_comment_routes.home') }}">Create comment</a>
                <a href="{{ url_for('python_comment_routes.show') }}">Show comments</a>
            </div>
        </div>

  </div>

</body>
</html>